<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <br>
    <form class="form-inline" action="/search" method="post">
        <div class="form-group">
          <label for="From">From:</label>
          <input type="date" class="form-control" id="From"  name="From">
        </div>
        <div class="form-group">
          <label for="To">To:</label>
          <input type="date" class="form-control" id="To"  name="To">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        
      </form>
      <br>
                    <table class="table table-bordered">
                        <thead>
                          <tr >
                            <th>Email</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Title</th>
                            <th>Description</th>
                            <!-- <th>task Progress</th> -->
                            <th>Number of Leave</th>
                            <th>Status</th>
                            <th>Leave Type</th>
                            <th>Half Day</th>
                            <th>Action</th>
                            
                          </tr>
                        </thead>
                        <% record.forEach(function(row) {%>
                            <% if  (row.status=="Cancelled") { %>
                                <tr style="color:red">
                                    <td><%= row.email %></td>
                                    <td><%= row.sDate %></td>
                                    <td><%= row.eDate %></td>
                                    <td><%= row.title %></td>
                                    <td><%= row.description %></td>    
                                    <td><%= row.noLeave %></td>
                                    <td><%= row.status %></td>
                                    <td><%= row.lType %></td>
                                    <td><%= row.halfDay %></td>
                                    <td>
                                    <a href="/aprove/<%= row._id%>"><i class="fa fa-check" style="font: size 30px; color: black; "></i></a>
                                    <a href="/cancle/<%= row._id%>"><i class="fa fa-close" style="font-size:20px; color: black; margin-left: 10px;"></i></a>
                                    </td>
                                </tr>
                                <% } else if(row.status=="Approved"){ %>
                                    <tr style="color:green">
                                        <td><%= row.email %></td>
                                        <td><%= row.sDate %></td>
                                        <td><%= row.eDate %></td>
                                        <td><%= row.title %></td>
                                        <td><%= row.description %></td>    
                                        <td><%= row.noLeave %></td>
                                        <td><%= row.status %></td>
                                        <td><%= row.lType %></td>
                                        <td><%= row.halfDay %></td>
                                        <td>
                                        <a href="/aprove/<%= row._id%>"><i class="fa fa-check" style="font: size 30px; color: black;"></i></a>
                                        <a href="/cancle/<%= row._id%>"><i class="fa fa-close" style="font-size:20px; color: black; margin-left: 10px;"></i></a>
                                        </td>
                                    </tr>
                                    <% }else{ %>
                                    <tr style="color:DodgerBlue">
                                        <td><%= row.email %></td>
                                        <td><%= row.sDate %></td>
                                        <td><%= row.eDate %></td>
                                        <td><%= row.title %></td>
                                        <td><%= row.description %></td>    
                                        <td><%= row.noLeave %></td>
                                        <td><%= row.status %></td>
                                        <td><%= row.lType %></td>
                                        <td><%= row.halfDay %></td>
                                        <td>
                                        <a href="/aprove/<%= row._id%>"><i class="fa fa-check" style="font: size 30px; color: black;"></i></a>
                                        <a href="/cancle/<%= row._id%>"><i class="fa fa-close" style="font-size:20px; color: black; margin-left: 10px;"></i></a>
                                        </td>
                                    </tr>
                                    <% } %>
                        <%})%>    
                      </table>
  
  </body>
</html>